<div class="story">
  <div class="row">
    <div class="story-header col-md-3 col-sm-3 col-xs-3">
      <img class="content-thumbnail" src="assets/images/bigbird.png">
      {{email}}
    </div>
    <div class="story-body col-md-9 col-sm-9 col-xs-9">
      {{first_name}} {{last_name}}
      <br>
    </div>
  </div>
</div>
