<div class="story">
  <div class="row">
    <div class="story-header col-md-2">
      <img class="bulletin-thumbnail" src="assets/images/comment.png">
    </div>
    <div class="story-body col-md-10">
      {{content}}
      <!--<div class="story-btn glyphicon glyphicon-chevron-down" aria-hidden="true"></div>-->
      <div class="story-expand bulletin-climbs-list bulletin{{id}}" data-bulletin-id="{{id}}">

      </div>
    </div>
  </div>
</div>
