<div class="story">
  <div class="row">
    <div class="story-header col-md-2">
      <img class="content-thumbnail" src="assets/images/gym-logo.png">
      Central Rock Gym - Watertown
    </div>
    <div class="story-body col-md-10">
      Yo check it out we set a whole bunch of new rock climbs aren't you psyched? Well
      you should be psyched because look at all these new rock climbs we set they're so
      dope you should come in and climb them.
      <div class="story-btn glyphicon glyphicon-chevron-down" aria-hidden="true"></div>
      <div class="story-expand">
        <div class="climb-square red">
          v10
        </div>
        <div class="climb-square red">
          v10
        </div>
        <div class="climb-square red">
          v10
        </div>
        <div class="climb-square red">
          v10
        </div>
        <div class="climb-square red">
          v10
        </div>
        <div class="climb-square red">
          v10
        </div>
      </div>
    </div>
  </div>
</div>
