<div>
  Say something about your post!
</div>
<fieldset class="new-bulletin">
  <textarea rows="4" cols="40" type="text" class="form-control bulletin-content" id="inputBulletinContent" placeholder="content" name="bulletin[content]" value="">
  </textarea>
  <input type="hidden" class="form-control" id="inputBulletinGymId" name="bulletin[gym_id]" value="{{gymId}}">
</fieldset>
