$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


$background-color: #000;
$font-color: #006ba6;
$white: #fff;
$off-white: #f5f5f5;
$black: #000;
$blue: #0198e1;
$porch-blue: #006ba6;
$gray: #282828;
$light-gray: #d3d3d3;
$red: #f00;
$image-width: 100%;

html,
body {
  background-color: $background-color;
  color: $font-color;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}

.welcome,
.message-signout,
.password,
.message-account-exists {
  font-family: sans-serif;
  margin-top: 5%;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.sign-up-hint {
  color: $light-gray;
  font-family: sans-serif;
  font-size: 75%;
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.glyphicon {
  font-size: 400%;
}

.intro-page {
  height: 1000px;
  width: 100%;
}

.intro-page-section {
  background-color: $gray;
}

.intro-page-image {
  height: $image-width * .67;
  opacity: .3;
  position: relative;
  width: $image-width;
}

.hero {
  color: $white;
  font-family: 'Podkova', serif;
  margin-top: 5%;
  position: absolute;
  width: 100%;
}

.title {
  font-size: 500%;
}

.subtitle {
  font-size: 200%;
  margin-top: 15%;
}

.overlay {
  color: $white;
  font-family: sans-serif;
  height: 50px;
  left: 38%;
  position: absolute;
  top: 50%;
  width: 300px;
  z-index: 2;
}

.cta {
  height: 50px;
  width: 250px;
}

.site-details {
  background-color: $off-white;
  height: 400px;
  width: 100%;
}

.site-details-header {
  font-family: sans-serif;
  font-size: 200%;
  padding: 50px;
}

.column-content {
  font-family: sans-serif;
  padding: 20px;
}

.raised {
  margin-top: -50%;
}

.wrong-password {
  color: $red;
}

.navbar {
  padding-left: 10%;
  padding-right: 10%;
  z-index: 1;
}

.logged-in {
  width: 100%;
}

.newsfeed {
  border-bottom: 1px solid $light-gray;
  margin-top: 70px;
  width: 100%;
}
//
// .fixed {
//   height: 10px;
//   position: fixed;
//   top: 20;
//   z-index: 3;
// }

.feed-header {
  color: $light-gray;
  font-family: 'Podkova', serif;
  font-size: 200%;
  margin-bottom: 10px;
  text-align: left;
}

.content-body {
  background-color: $white;
}

.content-header {
  background-color: $light-gray;
  border-bottom: 1px solid $black;
  font-family: 'Podkova', serif;
  font-size: 150%;
  line-height: 40px;
  padding-left: 10px;
  text-align: left;
}

.story {
  background-color: $white;
  border-bottom: 1px solid $light-gray;
}

.story-header {
  border-right: 5px solid $white;
  font-family: sans-serif;
  font-size: 60%;
  height: 100%;
}

.gym-logo {
  border: 1px solid $black;
  height: 80px;
  margin: 10px;
  width: 80px;
}

.story-body {
  font-family: sans-serif;
  height: 100%;
  margin-top: 10px;
  padding-right: 20px;
  position: relative;
  text-align: left;
}

.story-btn {
  border-bottom: 1px groove $light-gray;
  border-left: 1px groove $light-gray;
  border-right: 1px groove $light-gray;
  box-shadow: 2px 2px 1px $light-gray;
  cursor: pointer;
  font-size: 120%;
  margin-top: -12px;
  position: absolute;
  right: 20px;
  text-align: center;
}

.story-expand {
  display: none;
}

.climb-square {
  border: 1px solid $black;
  color: $white;
  float: left;
  font-size: 150%;
  height: 60px;
  margin: 10px;
  padding-bottom: 10px;
  padding-top: 15px;
  text-align: center;
  width: 60px;
}

.red {
  background-color: $red;
}

// this will be applied for browsers up to 563px wide
@media (max-width: 500px) {
  .board {
    cursor: pointer;
    height: 60%;
    margin: 0 auto;
    width: 80%;
  }

  .overlay {
    top: -70px;
  }
}

// this will be applied for browsers bigger than 564px wide
@media (min-width: 501px) {
  .board {
    cursor: pointer;
    height: 350px;
    margin: 0 auto;
    width: 400px;
  }

}

// this will be applied for browsers bigger than 564px wide
@media (min-width: 990px) {
  .well {
    height: 340px;
  }
}

.btn {
  margin: 10px;
}
