$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


$background-color: #000;
$footer-background: #292c2f;
$font-color: #006ba6;
$footer-company-name: #8f9296;
$footer-glyph-inset: #33383b;
$footer-email-link: #5383d3;
$footer-company-about: #92999f;
$white: #fff;
$off-white: #f5f5f5;
$black: #000;
$blue: #0198e1;
$porch-blue: #006ba6;
$gray: #282828;
$green: #31a234;
$light-gray: #d3d3d3;
$red: #f00;
$image-width: 100%;

html,
body {
  background-color: $background-color;
  color: $font-color;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}

.welcome,
.message-signout,
.password,
.message-account-exists {
  font-family: 'Open Sans', sans-serif;
  margin-top: 5%;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.sign-up-hint {
  color: $light-gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 75%;
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.glyphicon {
  font-size: 400%;
}

.intro-page {
  height: 1000px;
  width: 100%;
}

.intro-page-section {
  background-color: $gray;
}

.intro-page-image {
  height: $image-width * .67;
  opacity: .3;
  position: relative;
  width: $image-width;
}

.hero {
  color: $white;
  font-family: 'Podkova', serif;
  margin-top: 5%;
  position: absolute;
  width: 100%;
}

.title {
  font-size: 500%;
}

.subtitle {
  font-size: 200%;
  margin-top: 15%;
}

.overlay {
  color: $white;
  font-family: 'Open Sans', sans-serif;
  height: 50px;
  left: 34%;
  position: absolute;
  top: 50%;
  z-index: 2;
}

.cta {
  height: 50px;
  width: 250px;
}

.site-details {
  background-color: $off-white;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 5%;
  width: 100%;
}

.site-details-content {
  padding: 5%;
}

.swing {
  margin: 10%;
}

.site-details-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 200%;
  padding: 50px;
}

.name-origin {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

.column-content {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  padding: 20px;
}

.column-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-top: 5%;
}

.column-end {
  color: $green;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.raised {
  margin-top: -50%;
}

.wrong-password {
  color: $red;
}

.navbar {
  padding-left: 10%;
  padding-right: 10%;
  z-index: 1;
}

.logged-in {
  width: 100%;
}

.newsfeed {
  border-bottom: 1px solid $light-gray;
  margin-top: 70px;
  width: 100%;
}
// 
// .fixed {
//   height: 10px;
//   position: fixed;
//   top: 20;
//   z-index: 3;
// }

.feed-header {
  color: $light-gray;
  font-family: 'Podkova', serif;
  font-size: 200%;
  margin-bottom: 10px;
  text-align: left;
}

.content-body {
  background-color: $white;
}

.content-header {
  background-color: $light-gray;
  border-bottom: 1px solid $black;
  font-family: 'Podkova', serif;
  font-size: 150%;
  line-height: 40px;
  padding-left: 10px;
  text-align: left;
}

.story {
  background-color: $white;
  border-bottom: 1px solid $light-gray;
}

.story-header {
  border-right: 5px solid $white;
  font-family: 'Open Sans', sans-serif;
  font-size: 60%;
  height: 100%;
}

.gym-logo {
  border: 1px solid $black;
  height: 80px;
  margin: 10px;
  width: 80px;
}

.story-body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin-top: 10px;
  padding-right: 20px;
  position: relative;
  text-align: left;
}

.story-btn {
  border-bottom: 1px groove $light-gray;
  border-left: 1px groove $light-gray;
  border-right: 1px groove $light-gray;
  box-shadow: 2px 2px 1px $light-gray;
  cursor: pointer;
  font-size: 120%;
  margin-top: -12px;
  position: absolute;
  right: 20px;
  text-align: center;
}

.story-expand {
  display: none;
}

.climb-square {
  border: 1px solid $black;
  color: $white;
  float: left;
  font-size: 150%;
  height: 60px;
  margin: 10px;
  padding-bottom: 10px;
  padding-top: 15px;
  text-align: center;
  width: 60px;
}

.red {
  background-color: $red;
}

// this will be applied for browsers up to 563px wide
@media (max-width: 500px) {
  .board {
    cursor: pointer;
    height: 60%;
    margin: 0 auto;
    width: 80%;
  }

  .overlay {
    top: -70px;
  }
}

// this will be applied for browsers bigger than 564px wide
@media (min-width: 501px) {
  .board {
    cursor: pointer;
    height: 350px;
    margin: 0 auto;
    width: 400px;
  }

}

// this will be applied for browsers bigger than 564px wide
@media (min-width: 990px) {
  .well {
    height: 340px;
  }
}

.btn {
  margin: 10px;
}

.footer-distributed {
  background-color: $footer-background;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
  box-sizing: border-box;
  font: bold 16px sans-serif;
  margin-top: 80px;
  padding: 55px 50px;
  text-align: left;
  width: 100%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

// Footer left //

.footer-left {
  width: 40%;
}

// The company logo //

h3 {
  color: $white;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

// Footer links //

.footer-links {
  color: $white;
  margin: 20px 0 12px;
  padding: 0;

  a {
    color: inherit;
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
  }
}

.footer-company-name {
  color: $footer-company-name;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

// Footer Center //

.footer-center {
  width: 35%;

  i {
    background-color: $footer-glyph-inset;
    border-radius: 50%;
    color: $white;
    font-size: 25px;
    height: 38px;
    line-height: 42px;
    margin: 10px 15px;
    text-align: center;
    vertical-align: middle;
    width: 38px;

    .fa-envelope {
      font-size: 17px;
      line-height: 38px;
    }
  }

  p {
    color: $white;
    display: inline-block;
    margin: 0;
    vertical-align: middle;

    span {
      display: block;
      font-size: 14px;
      font-weight: normal;
      line-height: 2;
    }

    a {
      color: $footer-email-link;
      text-decoration: none;
    }
  }
}

// Footer Right //

.footer-right {
  width: 20%;
}

.footer-company-about {
  color: $footer-company-about;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;

  span {
    color: $white;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.footer-icons {
  margin-top: 25px;

  a {
    background-color: $footer-glyph-inset;
    border-radius: 2px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 5px;
    margin-right: 3px;
    text-align: center;
    width: 35px;
  }
}

// If you don't want the footer to be responsive, remove these media queries //

@media (max-width: 880px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

}
